<table>
  <% @tournaments.each do |t| %>
    <tr>
      <td>
        <%= link_to "#{t.year.name} #{t.name}", admin_tournament_path(t) %>
      </td>
      <td>
        <%= t.starts_at %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_tournament_path(t) %>
      </td>
    </tr>
  <% end %>
</table>
